<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>手机价格</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/layui/2.5.7/css/layui.min.css">
    <script src="https://cdn.staticfile.org/layui/2.5.7/layui.min.js"></script>
    <style>
        #main {
              width: 600px;
              height: 400px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
</div>
    <a href="/index" style="position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); margin-bottom: 50px;">
        <button type="button" class="layui-btn layui-btn-sm layui-btn-normal">
            <i class="layui-icon layui-icon-left"></i>
        </button>
    </a>

    <div id="main" style="width: 600px;height:400px;"></div>
    <script type="text/javascript">
    var phone = {{ phones | tojson | safe }};
    var chartData = JSON.parse(phone).map(function(phone) {
        return { name: phone.model, value: phone.price };
    });
    var myChart= echarts.init(document.getElementById('main'));
    var option = {
        title: {
            text: '手机价格图表'
        },
        tooltip: {},
        xAxis: {
            type: 'category',
            data: chartData.map(function(item) { return item.name; }), // x轴坐标为手机型号
            axisLabel: {
                interval: 0,
                rotate: 30 // 旋转30度
            }
        },
        yAxis: {
            type: 'value'
        },
        series: [{
            name: '价格',
            data: chartData.map(function(item) { return item.value; }), // y轴坐标为手机价格
            type: 'bar'
        }]
    };
    myChart.setOption(option);
</script>
</body>
</html>